.Directions {

  .DirectionButton {
    position: relative;
    font-size: 1.5rem;
    animation-name: fromBottomToCenter;
    animation-duration: 2s;
  }
  .Link {
    text-decoration: none;
  }

}



@keyframes fromBottomToCenter {
  0%   {bottom: -100rem}
  100% {bottom: 0rem}
}
