.TopImage {
  position: relative;
  height: 100%;

  .Image {
    width: 100%;
    height: auto;
  }

  .TextHolder {
    position: absolute;
    top: 40%;
  }

  .GeneralText {
    margin: auto;
    background-color: rgba(91, 90, 90, 0.7019607843137254);
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
  }


  .TextHeader {
    font-size: 2rem;
  }

  .TextSubHeader {
    font-size: 1.5rem;
  }

}


@media screen and (max-width: 650px) {

  .TopImage {

    .GeneralText{
      border-radius: 0.4rem;
      padding: 0.4rem;
    }

    .TextHeader {
      font-size: 1.1rem;
    }
    .TextSubHeader {
      font-size: 0.9rem;
    }
  }


}
