.Cemetery {
  .CarouselWrapper {
    margin-top: 1rem;
  }
}

.CemeteryBannerQuote {
  font-family: CormorantInfantBold, normal;
  font-size: 2rem;
}

.CemeteryBannerQuoteAuthor {
  padding: 2rem;
  font-style: italic;
}


.QuoteSaintSmallImage {
  height: 6rem;
  margin-bottom: 2rem;
}

.HorizontalLine {
  height: 5rem;
}