//:global {
//  @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
//}

body, div {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'BadScript';
  src: url('/fonts/Bad_Script/BadScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CaveatRegular';
  src: url('/fonts/Caveat/Caveat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MarckScript';
  src: url('/fonts/Marck_Script/MarckScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdmirationPains';
  src: url('/fonts/AdmirationPains/AdmirationPains.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Notperfect';
  src: url('/fonts/Notperfect/Notperfect.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WolfgangAmadeusMozart';
  src: url('/fonts/WolfgangAmadeusMozart/WolfgangAmadeusMozart.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AstoriaScriptTwo';
  src: url('/fonts/Astoria script Two/Astoria script Two.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Prata';
  src: url('/fonts/Prata/Prata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
