.MainContent {
  .FirstLetter {
    font-size: 6rem;
    font-family: AstoriaScriptTwo, normal;
    line-height: normal;
  }

  .Paragraph {
    font-family: Prata, normal;
    line-height: 3.0;
    font-size: 1.3rem;
  }
}

