.MainContent {
  .FirstLetter {
    font-size: 3rem;
    font-family: Great Vibes, normal;
    line-height: normal;
  }
  .Paragraph {
    font-family: Libre Baskerville, normal;
    line-height: 3.0;
  }
}

